<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}

    <style>@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')</style>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    {{>top}}
    
    <div class="section">
      <div class= "container">
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="content">
            <h3>nice to meet you</h3>
            <p>Welcome to Book India! We're passionate about connecting readers with great books. Our curated collection spans various genres, and we're committed to providing an exceptional shopping experience. Join us in celebrating the joy of reading!</p>
            <div class="button">
              <a href="/contact">Contact Us</a>
            </div>
          </div>
          <div class="social">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="image-section">
          <img src="img-controller/icons/about-img.png">
        </div>
      </div>
    </div>
    
    {{>navbarScrollEffect}}
</body>
</html>
