<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}

    <style> a[href = "/add-book"] { color: blue; }</style>
    <link rel="stylesheet" href="/stylesheets/add-book.css">
</head>
<body>
    {{>top}}
        
    <form class="add" action="/add-book" method="post" enctype="multipart/form-data">
        <h1 id="title">Add A New Book</h1>
        <div class="all-inputs">
            <input type="text" class="post-input" id="add-input" name="name" placeholder="Book name*">
            <input type="text" id="price" class="post-input" name="price" placeholder="Price">
            <select class="post-input" name="categorie" id="categories">
                <option value="Other" disabled selected>Categories</option>
                <option value="topDeal">Top Deal Book</option>
                <option value="bestSeller">Best Seller Book</option>
                <option value="newArrival">New Arrival Book</option>
                <option value="awardWinner">Award Winner Book</option>
                <option value="nonFiction">Non Fiction Book</option>
                <option value="Other">Other</option>
            </select>

            <input class="post-input" type="text" name="auther" id="Auther" placeholder="Auther Name">
            <input class="post-input" type="text" name="publisher" id="publisher" placeholder="publisher Name">
            <input class="post-input" type="text" name="publishedDate" id="publishedDate" placeholder="published Date">

            <input class="post-input" type="text" name="isbn" id="isbn" placeholder="ISBN-13 Number">
            <input class="post-input" type="text" name="binding" id="binding" placeholder="Binding Type">
            <input class="post-input" type="text" name="language" id="language" placeholder="Language">

            <input class="post-input" type="text" name="pages" id="pages" placeholder="Number of Pages">
            <input class="post-input" type="text" name="width" id="width" placeholder="Book width">
            <input class="post-input" type="text" name="height" id="height" placeholder="Book height">
                
            <input class="post-input" type="text" name="qty" id="qty" placeholder="Available quantity">
            <fieldset id="file-field">
                <legend>Book's Cover</legend>
                <input class="post-input" type="file" id="file" name="image">
            </fieldset>
            <textarea name="description" class="post-input" id="description" placeholder="Description"></textarea>
        </div>
            <button class="post-input" id="submit" type="submit" id="add-input">Submit</button>
        </form>

    {{>navbarScrollEffect}}

    <script>
\        document.querySelector('.add').addEventListener('submit', (e)=> {
            let isValid = true;
            const textFields = document.querySelectorAll('input,textarea');
            textFields.forEach((textField)=> {
                if(textField.value.trim()=== '') {
                    textField.classList.add('error');
                    isValid = false;
                } else {
                    textField.classList.remove('error');
                }
            });
            if(!isValid) e.preventDefault();
        });

    </script>
</body>
</html> 