<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}

    <link rel="stylesheet" href="/stylesheets/contact.css">
    <style> a[href = "/about"] { color: blue; }</style>
</head>
<body>
    {{>top}}
  <h1> This is contact us page</h1>
<body
