<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/sign-in-up.css">
</head>
<body>
    {{>top}}

    <div class="signing-main-container">
    <div class="signing-container" id="signing-container">

        {{!-- Sign Up Form --}}
        <div class="form-container sign-up">
            <form action="/sign-up" method="post" enctype="multipart/form-data">
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="/" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="/" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="/" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="/" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>  
                <span>or use your email for registeration</span>
                <div class="input-container">
                <input type="text" name="firstname" placeholder="firstname">
                <input type="text" name="lastname" placeholder="lastname">
                </div>
                <div class="input-container">
                    <input type="email" name="email" placeholder="email">
                    <input type="number" name="mobile" placeholder="mob. no.">
                </div>
                <div class="input-container">
                    <input type="password" name="password" placeholder="password">
                    <input type="password" name="cpassword" placeholder="confirm password">
                </div>
                <div class="input-container">
                    <input type="file" name="image" id="profile-input">
                    <input type="submit" value="Sign Up" id="button">
                </div>
            </form>
        </div>

        {{!-- Sign In Form --}}
        <div class="form-container sign-in">
            <form action="/sign-in" method="post">
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="/" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="/" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="/" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="/" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="text" name="username" placeholder="mob. no./email">
                <input type="password" name="password" placeholder="Enter Password">
                <a href="/">Forget Your Password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>

        {{!-- Toggle Swaping Box --}}
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                    <p style="color: white;">{{msg}}</p>
                </div>
            </div>
        </div>
    </div>
    </div>

<script>
    const container = document.getElementById('signing-container');
    const registerBtn = document.getElementById('register');
    const loginBtn = document.getElementById('login');

    registerBtn.addEventListener('click', () => {
        container.classList.add("active");
    });

    loginBtn.addEventListener('click', () => {
        container.classList.remove("active");
    });
</script>
   
</body>
</html>