<div class= "footer-img">
   <div class="website-logo">
      <a href="/">
    <div class="logoAndName">
        <img src="/img-controller/icons/site-logo.png" alt="logo" class="logo-img"> <span id="site-name"><b>Book India</b></span>
    </div></a>
   </div> <!-- website-logo -->
</div>
