<div class= "the-footer">

    <div class="website-logo">
      <div class="logoAndName">
        <img src="/img-controller/icons/site-logo.png" alt="logo" class="logo-img"> <span id="site-name"><b>Book India</b></span>
      </div>
    </div>

    <div class="footer-container">
      <div class="weblink">
        <p><a href="/books/">Book Deals</a></p>
        <p><a href="/books/">Best Seller</a></p>
        <p><a href="/books/">New Arrival</a></p>
        <p><a href="/books/">Non Fictional</a></p>
        <p><a href="/books/">Award Winner</a></p>
      </div>

      <div class="footer-contact">
        <p><a href="/about/">About Us</a></p>
        <p><a href="/contact">Contact Us</a></p>
        <p><a href="https://www.instagram.com/ahsan._4u/">Instagram</a></p>
        <p><a href="https://www.linkedin.com/in/mohd-ahsan-335506259?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a></p>
        <p><a href="https://www.facebook.com/its.ahsan.4u">Facebook</a></p>
      </div>
      
      <div class="footer-user">
        <p><a href="/">Home</a></p>
        <p><a href="/my-account">My Account</a></p>
        <p><a href="/my-order">My Order</a></p>
        <p><a href="/my-cart">My Cart</a></p>
      </div>

    </div>

   </div> <!-- website-logo -->
</div>