* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Convergence", sans-serif;
  background: linear-gradient(to bottom, #cdcdce, rgb(209, 207, 207));

}

.navbar{ background-color: white; }

#title {
  text-align: center;
  padding: 14px 0;
  color: rgb(147, 56, 177);
}

.add {
  font-family: "Convergence", sans-serif;
  max-width: 850px; min-width: 100px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: transparent;

}

.all-inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; align-items: center;
}

.post-input {
  background-color: #eee;
  border: none;
  font-size: 13px;
  outline: none;
  border-radius: 8px;
  width: 90%;
  height: 40px;
  margin: 10px 0;
  padding-left: 10px;
  font-family: "Convergence", sans-serif;
}

#categories {
  height: 38px; width: 94%;
}

#file {
  width: 90%;
  height: 25px;
  border: none;
  margin: 5px;
  outline: none;
}

#description {
  margin: 10px 0;
  height: 40px;
  padding-top: 2px;
  border: none;
  outline: none;
}

#file-field {
  overflow: hidden;
  width: 94%;
  margin-top: -6px;
  height: 50px;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  background-color: #eee;
}

#submit {
  font-size: 18px;
  height: 44px;
  width: 98%;
  display: block;
  margin: 10px auto;
  background: rgb(103, 31, 127);
  border-style: none;
  border-radius: 15px;
  color: white;
}

@media only screen and (max-width: 599px) {
  .all-inputs {
    grid-template-columns: repeat(1, 1fr);
  }
  
  #file-field {
    margin: 10px 0;
  }
}