*{ padding: 0; margin: 0; }

a { text-decoration: none;  color: black; }

.items-container { width: 92vw; margin: 0 auto; margin-top: 10px;}

.item { margin: 4px; }

.error-block { text-align: center; }

#not-found-msg { text-align: center; margin-top: 100px; display: inline-block; }

#errname { color: red; }
