*{ padding: 0; margin: 0; }

a { text-decoration: none;  color: black; }

.item {
  margin-bottom: 10px;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  width: 100vw;
  margin: 10p 0;
}

@media only screen and (max-width: 599px) {
  .items-container {
     grid-template-columns: repeat(3, 1fr);
  }
}


.error-block { text-align: center; }

#not-found-msg { text-align: center; margin-top: 100px; display: inline-block; }

#errname { color: red; }
