* {
  margin: 0;
  padding: 0;
}

.first-row {
  width: 85vw;
  margin: auto;
  border: 1px solid black;
  display: flex; justify-content: space-between;
}

.product-img-container {
  width: 30vw;
  height: 70vh;
  background-color: rgb(242, 242, 244);
  display: grid; align-items: center; justify-items: center;
}
@media only screen and (max-width: 599px) {
  .product-img-container {
    width: 100%;
    height: 50vh;
  }
  .first-row { display: block; }
}

.product-img {
  width: 85%;
  border-radius: 4px;
}

.product-details-container {
  width: 50vw;
}

.name-heading {
  font-size: 24px;
}

.description-heading {
  font-size: 22px;
}
