*{
  margin: 0;
  padding: 0;
  font-family: "Convergence", sans-serif;
}

.first-row {
  width: 85vw;
  margin: auto;
  display: flex; justify-content: space-between;
}

.product-img-container {
  width: 30vw;
  height: 70vh;
  background-color: rgb(242, 242, 244);
  display: grid; align-items: center; justify-items: center;
}

.product-img {
  width: 85%;
  border-radius: 4px;
}

.product-details-container {
  width: 50vw;
}

.off-msg { font-size: 11px; color: green; }

.price-before {
  position: relative;
  top: -4px;
  color: red;
}
.price-before::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 19%;
  height: 1px;
  background-color: red;
  transform: rotate(10deg);
  transform-origin: 0 0;
  opacity: 0.7;
}

.product-details {
  margin: 15px 0;
}

.name-heading {
  font-size: 21px;
}

.description-heading {
  font-size: 19px;
  margin-top: 20px;
}

#new-price {
  font-size: 26px;
}

.off-msg {
  font-size: 14px;
}

.plus,.minus {
  display: inline-block;
  margin: 6px 0;
  font-size: 19px;
  padding: 3px 8px; background-color: lightgreen;
  border: 1px solid balck; border-radius: 3px;
}
.minus{
  background-color: #ffcccc;
  padding: 3px 11px;
}

.qty {
  width: 50px; height: 35px; 
  border-style: none;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 19px;
}

.qty-container {
  width: 130px;
  display: flex;
  justify-content: space-between;
}

#cart, #buy {
  width: 100px; height: 40px;
  background-color: lightgreen;
  border-style: none;
  border-radius: 15px;
}

#cart {
  border: 1px solid black;
  background-color: white;
}

@media only screen and (max-width: 599px) {
  .first-row { display: block; width: 100vw; }
  .product-img-container {
    width: 100%;
    height: 50vh;
  }
  .product-img { width: 70%; }
  
  .product-details-container {
    width: 93vw; margin: 20px auto;
    margin-bottom: 5px;
    font-size: 13px;
  }
  
  .name-heading {font-size: 19px;}
  
  #cart, #buy {
   display: block;
   margin: 15px auto;
   font-size: 19px;
   width: 90%; height: 50px;
  }

  .price-qty {
    display: flex; justify-content: space-around;
    width: 80vw;
    margin: 10px 0; margin-bottom: 0;
  }
  
  .description-heading {font-size: 17px;}
}
