* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 0;
}

.header {
  background: linear-gradient(to left, rgb(104, 34, 127), rgb(103, 31, 127));
  width: 100vw;
  height: 55px;
}

.logoAndName {
  display: inline-block;
  margin-left: 10px;
}

.logo-img {
  margin-top: 3px;
  width: 40px;
}
#site-name {
  font-family: "Merriweather", serif;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  font-style: italic;
  font-size: 20px;
  color: rgb(192, 235, 248);
}

.other-logo {
  margin-right: 5px;
  margin-top: 8px;
  display: flex; 
  float: right;
}

.other-logo sup {
  position: relative;
  top: -10px; right: 8px;
  padding: 2px 6px;
  border-radius: 10px;
  background-color: rgb(172, 3, 3);
  color: white;
}

.cart-container, .like-container {
  float: right; margin-right: 20px; margin-top: 3px; top: -15px;
}
.like-container { margin-top: 5px; }

#kart-count { background-color: rgb(3, 159, 3); top: -13px; }

@media only screen and (max-width: 599px) {
  .logo-img { width: 30px }
  #site-name { font-size: 17px; }
  .other-logo sup { display: none; }
  .cart-container, .like-container { display: none; }
  .header { height: 40px }
  .nav-page{ font-size: 11px; padding: 4px 10px; margin-left: 4px; }
}

.user-tag {
  height: 33px;
  padding: 2px 10px 2px 2px;
  margin-right: 20px;
  background-color: rgb(42, 46, 49);
  border-radius: 25px;
}

.user-img {
  width: 33px;
  height: 33px;
  border-radius: 30px;
}

.default-user-img {
  display: inline-block;
  background-image: url("../img-controller/icons/user-boy.png");
  width: 33px;
  height: 33px;
  background-size: 100% 100%;
  animation: userLogoExchange 8s linear infinite;
}
@keyframes userLogoExchange {
  0% {
    background-image: url("../img-controller/icons/user-boy.png");
  }
  25% {
    background-image: url("../img-controller/icons/user-boy.png");
  }
  50% {
    background-image: url("../img-controller/icons/user-girl.png");
  }
  75% {
    background-image: url("../img-controller/icons/user-girl.png");
  }
  100% {
    background-image: url("../img-controller/icons/user-boy.png");
  }
}
#home-profile-name {
  float: right;
  font-size: 12px;
  margin: 10px 4px;
  color: white;
}

.navbar {
  width: 100vw;
  padding-top: 5px;
  padding-bottom: 3px;
  top: 0;
  transition: background-color 0.3s ease-out;
}
a[href='/']:not(.header a[href='/']) { margin-left: 20px; }
.nav-page {
  display: block;
  padding: 7px 20px;
  margin-left: 10px;
  font-size: 14px;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
}
a[href='/']:hover:not(.header a[href='/']),
a[href='/text-books']:hover,
a[href='/e-books']:hover,
a[href='/feathured']:hover,
a[href='/about']:hover,
a[href='/add-book']:hover {
  color: blue; background-color: rgb(233, 233, 233);
}

.nav-pages-list {
  display: inline-block;
}
.nav-pages-list li {
  list-style: none;
  float: left;
  font-family: "Convergence", sans-serif;
}

.search-container {
  float: right;
  margin-right: 20px;
  padding: 1px;
  width: 30vw;
  height: 30px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
}

#search {
  font-family: "Convergence", sans-serif;
  border-style: none;
  font-size: 17px;
  margin-left: 15px;
  height: 100%;
  width: 70%;
  background-color: transparent;
  outline: none;
}

#search:focus + .search-container { border:1px solid red }

#search-btn {
  background-color: rgb(104, 165, 244);
  border-style: none;
  width: 60px;
  height: 99%;
  float: right;
  border-radius: 20px;
}

.items-container {
  margin-top: 10px;
}
